html{
    line-height: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1, h2{
    color: maroon;
}

h1{
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    opacity: 0%;
}

.fade-text{
    animation: fadeTxt linear 6s 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeTxt{
    0%{
        opacity: 0;
    }
   
    100%{
        opacity: 1;
        font-size: 3.25rem;
    }
}

h2{
    font-size: 2rem;
    text-align: left;
}

nav{
    float: right;
    position: sticky;
    top: 0;
    width: 250px;
}

nav ul{
    padding: 0;
}

nav li{
    list-style-type: none;
    text-align: center;
}

nav a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold; 
}

nav a:hover{
    text-decoration: underline rgb(217, 206, 63) 3px;
    font-style: italic;
}

nav a:link,
nav a:visited{
    color: #1b1a17;
}

nav a:hover::before,
nav a:hover::after{
    content: "\1F4DC ";
}

header{
    text-align: center; 
    width: 70%;
    margin: 0 auto;
    line-height: 1.4rem;
}


.fade-img{
    animation: fadeImg linear 6s 6s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeImg{
    0%{
        transform: translateX(-100rem);
        opacity: 0;
    }
    50%{
        transform: translateX(1rem);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

p{
    text-align: left;
    color:#1b1a17;
    font-size: 1.1rem;
    letter-spacing:.1px;
}

.assignments a{
    text-decoration: none;
}

.assignments li{
    list-style-type: none;
}

.assignments a:hover{
    text-decoration: underline rgb(217, 206, 63) 3px;
    text-decoration-style: solid;
}

.assignments a:link,
.assignments a:visited{
    color:#1b1a17;
}

.assignments li::before{
    content: "\1F4DC ";
}

footer{
    line-height: 80%;
    font-weight: 500;
    position: relative;
}

small{
    float: right;
    padding: 20px 0 40px 0;
}

footer a{
    text-decoration: none;
}

footer a:link,
footer a:visited{
    color:rgb(232, 58, 20);
}

footer a:hover{
    color:#1b1a17;
    text-decoration: underline rgba(27, 26, 23, .2);
    font-style: italic;
}

p a{
    text-decoration:underline;
    font-size: 1rem;
    color:#1b1a17;
}

.top{
    position: absolute;
    right: 1rem;
    top: 55rem;
}